/*
    作者: isYangs
    版本: 1.0.0
    博客: https://xuewuzhibu.cn
    Github: https://github.com/isyangs
    信息: 开发不易，请勿删除此片段，版权所有
    提示: 本文件请不要随意删除，否则会导致无法运行
*/
/* 自适应样式 */
@media (max-width: 1400px) {
  main .main-content {
    max-width: 1140px;
  }
  /* 介绍卡片和社交按钮 */
  .message-card,
  .social-contact {
    max-width: calc(460px - 3rem);
  }
  /* 一言和时间卡片 */
  .left-card,
  .right-card {
    width: calc(280px - 40px);
  }
  #wind-text {
    display: none;
  }
  /* 网站列表 */
  .link-url {
    width: 180px;
  }
}
/* 小于1200px时 */
@media (max-width: 1200px) {
  main .main-content {
    max-width: 1000px;
  }
  /* 介绍卡片和社交按钮 */
  .message-card,
  .social-contact {
    max-width: calc(460px - 4rem);
  }
  /* 页面网址标题 */
  .title span {
    font-size: 4rem;
  }
  /* 一言和时间卡片 */
  .left-card,
  .right-card {
    width: calc(250px - 50px);
  }
  #wind-text {
    display: none;
  }
  /* 网站列表 */
  .link-url {
    width: 156px;
  }
}
/* 小于1060px时 */
@media (max-width: 1060px) {
  main .main-content {
    max-width: 900px;
  }
  /* 介绍卡片和社交按钮 */
  .message-card,
  .social-contact {
    max-width: calc(460px - 5rem);
  }
  /* 页面网址标题 */
  .title span {
    font-size: 3.5rem;
  }
  /* 一言和时间卡片 */
  .left-card {
    display: none;
  }
  .right-card {
    width: 100%;
  }
  /* 网站列表 */
  .link-url {
    width: 130px;
  }
  .link-url i {
    margin-right: 0;
  }
  .link-url span {
    display: none;
  }
}
/* 小于850px时 */
