@font-face {
  font-family: "iconfont"; /* Project id 3613249 */
  src: url('iconfont.woff2?t=1661588055522') format('woff2'),
       url('iconfont.woff?t=1661588055522') format('woff'),
       url('iconfont.ttf?t=1661588055522') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-bxs-quote-right:before {
  content: "\e6d1";
}

.i-bxs-quote-left:before {
  content: "\e6d2";
}

.i-xinlangweibo:before {
  content: "\e600";
}

.i-weixin:before {
  content: "\e601";
}

.i-steam2:before {
  content: "\e865";
}

.i-snssharedoubanon:before {
  content: "\e624";
}

.i-githubsquare:before {
  content: "\e711";
}

.i-list:before {
  content: "\e701";
}

.i-QQ:before {
  content: "\e882";
}

.i-twitter:before {
  content: "\e883";
}

.i-zhihu-circle-fill:before {
  content: "\e88b";
}

.i-facebook-fill:before {
  content: "\e88d";
}

.i-zhihu-square-fill:before {
  content: "\e893";
}

.i-compass:before {
  content: "\ef81";
}

.i-images:before {
  content: "\f025";
}

.i-github-square:before {
  content: "\f1b5";
}

.i-steam:before {
  content: "\f23b";
}

.i-telegram:before {
  content: "\f245";
}

.i-xieboke:before {
  content: "\e625";
}

.i-github:before {
  content: "\e63a";
}

.i-code:before {
  content: "\e630";
}

.i-cloud:before {
  content: "\e602";
}

.i-email-fill:before {
  content: "\e77e";
}

.i-list1:before {
  content: "\e603";
}

.i-compass1:before {
  content: "\e74f";
}

.i-gitee-fill-round:before {
  content: "\e686";
}

.i-code1:before {
  content: "\e621";
}

.i-blog:before {
  content: "\eaf9";
}

.i-code2:before {
  content: "\eb15";
}

.i-music:before {
  content: "\eb6a";
}

